.nextflow
.nextflow.log*
work/
conda/
HTML/*
Results*
output/
output_pe/
output_se/
single_reads/
paired_reads/
shiver/
phyloscanner/
HIV-phyloTSI/
output_pe_kraken_filter/
shiver_align_mafft_7.525.command.log
fl_fr_reads/
full_length_samples/
images/images_svg/*
images/images_svg
samples/
